@mixin border($position,$size,$type,$color) {
	@if $position == '' {
		border: $size $type $color;
	} @else {
		border-#{$position}: $size $type $color;
	}
}
%displayno {
	display: none;
}
%textcenter {
	text-align: center;
}
/* @font-face {
	font-family:Helvetica-light;
    src:url('Helvetica Neue/OTF/HelveticaNeue-Light.otf');
} */
@font-face {
	font-family:'OpenSansBoldItalic';
    src: local('OpenSans'), local('OpenSans-BoldItalic'), url('fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('ttf');
}

@font-face {
	font-family:RobotoRegular400;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	// src:url('fonts/Roboto/Roboto-Regular.ttf');
	src: local('Roboto'), local('Roboto-Regular'), url('fonts/Roboto/Roboto-Regular.ttf') format('ttf');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
// @font-face {
// 	font-family:Roboto;
//     src:url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// }

body{
	font-family: RobotoRegular400;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
	font-family: OpenSansBoldItalic;
	font-weight: 500;
}
/* .navbar-static-top{
	z-index: 10;
} */
.footer{
	padding: 7px 30px;
}
.bg-title{
	padding: 5px 10px;
	margin-bottom: 0;

	h4{
		font-family: OpenSansBoldItalic;
		font-size: 24px;
		font-weight: 800;
	} 
}
div.activeform{
	@extend %textcenter;
	margin-top: 33px;
	padding: 0;
}
.btn_save {
	position: fixed;
	right: 74px;
	top: 80px;
	z-index: 900;
	a{
		font-size: 22px;
	}
}
.btn_luu {
    padding: 11px 20px;
    font-size: 20px;
}
.btn_active{
  margin-top: 20px;
  font-size: 20px;
}
.Quickchange.btnName{
	text-align: left;
	color: #3f00ff;
	&:hover{
		color: #d71212;
		background-color: #0000001f;
	}
}
// .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
// 	padding: 5px;
// }
.table{
	%padd5 {
		padding: 5px;
	}
	&>thead{
		&>tr{
			&>td{
				@extend %textcenter;
				@extend %padd5;
			}
			&>th{
				&:not(.text-left,.text-right){
					@extend %textcenter;
				}
				@extend %padd5;
			}
		}
	}
	&>tbody{
		&>tr{
			&>td{
				// @extend %textcenter;
				@extend %padd5;
			}
			&>th{
				@extend %textcenter;
				@extend %padd5;
			}
		}
	}
	&>tfoot{
		&>tr{
			&>td{
				@extend %textcenter;
				@extend %padd5;
			}
			&>th{
				@extend %textcenter;
				@extend %padd5;
			}
		}
	}
}
.imageversions{
	td{
		text-align: center;
	}
}
.detail-view th {
    width: 12%;
}
.proUpdate{
	@extend %displayno;
	.btn.btn-outline{
		margin:2px;
		padding: 7px 3px;
	}
}
.QuickStatus{
	transition: 0.4s;
}
.actionColumn{
	a{
		margin-left: 5px;
		span{
			transition: 0.6s;
		}
		&:hover{
		span{
			color: #ff0000;
			font-size: 20px;
		}
	}
	}
}
.tab-content{margin-top: 9px;}
.nav-tabs{
	%bgtag{background-color: #3cd0cc;}
	&>li{
		&.active{
			&>a{
				@extend %bgtag;
				&:focus{
					@extend %bgtag;
				}
				&:hover{
					@extend %bgtag;
				}
			}
		}
		&>a{
			line-height: 22px;
		}
	}
}
div.mce-fullscreen {
    position: fixed;
    top: 0;
    left: 92px;
    z-index: 1001;
}
.co-dinh-menu{
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 1000;
   // box-shadow: 2px 5px 5px rgb(0,0,0,0.35);
}
.cbx-container{
	.cbx-active{
		width: 36px;
		height: 36px;
		i.glyphicon.glyphicon-ok{
			font-size: 26px;
		}
	}
}

.panel.panel-default.imageversions{
	.panel-heading.navpillslist{
		padding: 0;
		position: relative;
		ul{
			li{
				a{
					padding: 20px;
					font-size: 20px;
				}
			}
			// padding-bottom: 0;
		}
		button.btn{
			position: absolute;
			right: 3%;
			top: 11%;
			width: 120px;
		}
	}
}
// .mt-alerts {
//     position:fixed;
//     z-index: 1051;
// }